name: Auto Reply
on:
  issue_comment:
    types: [created]

jobs:
  auto-reply:
    runs-on: ubuntu-latest
    steps:
      - name: Auto Reply
        run: echo "Replying to comment: ${{ github.event.comment.body }}"
      - name: Process issue
        run: echo "Issue #${{ github.event.issue.number }} by ${{ github.event.comment.user.login }}"
